<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="vueJS">
        <!--list></list>
        <player></player-->
        <controls></controls>
        <img :src="message">
        <span v-if="control_enabled==true">
            {{ message }}
        </span>
        <br>
        <label class="switch">
            <input v-model="control_enabled" type="checkbox">
            <span class="slider"></span>
        </label>
        <br>
        <label>
            Ingrese Texto
            <input v-model="message" type="text">
        </label>
        <button v-on:click=incrementCounter()>+</button>
        {{ counter }}
        <button v-show="counter > 0" v-on:click="decreaseCounter()">-</button>
        Total time: {{ total_time }}
        Current time: {{ current_time }}
        remaining time: {{ remainingTime }}
        <input v-model="current_time" type="range" min=0 :max="total_time">
    </div>
    <div id="placeholder">

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="../js/dom_test.js"></script>
    <script src="../js/componentVue.js"></script>
</body>
</html>