<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="../../index.html">Ir a Home </a>
    <br>
    <form>
        <fieldset>
          <legend>Rellenar</legend>
          <input type='radio' name='idioma' value='idiomaingles'> Inglés   <br/>
          <input type='radio' name='idioma' value='idiomaaleman'> Alemán   <br/>
          <input type='radio' name='idioma' value='idiomafrances'> Francés   <br/>
          <br/>
          <select name='conector' >
            <option value='usb'>USB</option>
            <option value='paralelo'>Paralelo</option>
            <option value='ps2'>PS2</option>
          </select>
          <br/>
          Nombre<input type='text' name='nombre'> <br/>
          Apellidos<input type='text' name='apellidos'> <br/>
          <br/>
        </fieldset>
        <fieldset>
          <legend>Indique sus preferencias por favor</legend>
          <select name='sexo' multiple='multiple'>
            <option value='hombre'>Hombre</option>
            <option value='mujer'>Mujer</option>
          </select>
          <br/>
          <input type='checkbox' name='sexo' value='sexomujer'> Mujer   <br/>
          <input type='checkbox' name='sexo' value='sexohombre'> Hombre   <br/>
          <br/>
          Elija una fecha:<input type="date">  <br/>
        </fieldset>
        </form>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.941167708749!2d-58.408151684329496!3d-34.60564916510815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaf2a00d73df%3A0xc90b4ce1a7523378!2sAv.%20Pueyrred%C3%B3n%20400%2C%20C1032ABQ%20CABA!5e0!3m2!1sen!2sar!4v1628897707442!5m2!1sen!2sar"
        width="200" height="120" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</body>

</html>